/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import '@fortawesome/fontawesome-free';
@import 'constants';
@import 'responsive/desktop';
@import 'responsive/mobile';
@import 'profiles';


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1 0 auto;
    padding-top: 70px;
    box-sizing: border-box;
}

.footer {
    padding-top: 1rem;
    flex-shrink: 0;
}

.nav-bar-link,
.footer-link {
    color: $navItemColor !important;
    &:hover, &:focus {
        color: $navItemColorHover !important;
    }
}

.btn-change {
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: scale(1.1);
        background: $navItemColor;
    }
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    /* right: 20px; */
    left: 90%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100vh;
    background: #22222A;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: .88rem;
    color: #bdbdd5;
  }
  
  .content-width {
    width: 86%;
    height: 100vh;
    margin: 0 auto;
  }
  
  .slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slideshow-items {
    position: relative;
    width: 100%;
    height: 100%;
    top: 5%;
  }
  
  .item {
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  .item-image-container {
    position: relative;
    width: 42%;
  }
  
  .item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 101%;
    height: 101%;
    background: #22222A;
    opacity: 0;
    z-index: 1;
  }
  
  .item-image {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    display: block;
    /* transition: property name | duration | timing-function | delay  */
    transition: opacity .3s ease-out .45s;
  }
  
  .item.active .item-image {
    opacity: 1;
  }
  
  .item.active .item-image-container::before {
    opacity: .5;
  }
  
  .item-description {
    position: absolute;
    top: 182px;
    right: 0;
    width: 50%;
    padding-right: 0%;
    line-height: 1.8;
  }
  
  /* Staggered Vertical Items ------------------------------------------------------*/
  .item-header {
    position: absolute;
    top: 150px;
    left: -1.8%;
    z-index: 100;
  }
  
  .item-header .vertical-part {
    margin: 0 -4px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 7vw;
    color: #fff;
  }
  
  .vertical-part {
    overflow: hidden;
    display: inline-block;
  }
  
  .vertical-part b {
    display: inline-block;
    transform: translateY(100%);
  }
  
  .item-header .vertical-part b {
    transition: .5s;
  }
  
  .item-description .vertical-part b {
    transition: .21s;
  }
  
  .item.active .item-header .vertical-part b {
    transform: translateY(0);
  }
  
  .item.active .item-description .vertical-part b {
    transform: translateY(0);
  }
  
  /* Controls ----------------------------------------------------------------------*/
  .controls {
    position: relative;
    text-align: right;
    z-index: 1000;
  }
  
  .controls ul {
    list-style: none;
  }
  
  .controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background:#bdbdd5;;
    cursor: pointer;
  }
  
  .controls ul li.active {
    background:#6a6a77;;
  }

  #header {
      background: #21212a;
      font-family: 'Montserrat', sans-serif;
  }

  #sign_up_box {
      background: #2f3243;
      border-radius: 15px;
  }

  #form-new {
    background: #2f3243;
    border-radius: 15px; 
  }

  .sign-up-button {
      color: white;
      background: #28a745;
      font-weight: 700;
  }

  #sign-up-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  #sign-up-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .88rem;
  }

  .slideshow {
      padding-left: 10%;
  }

  #sign-up-img-container {
      position: relative;
      width: 60%;
  }

  #slideshow-containter {
      position: absolute;
      margin-top: 10%;
      top: 0;
  }

  #login-slideshow {
      padding-left: 0;
  }

  .login-box {
      margin-top: 20%;
  }

  .login-button {
      margin-top: 5%;
  }

  #postDescription {
    display:none;
  }

  #priceDescription {
    display:none;
  }

  #categoryDescription {
    display:none;
  }

  #postButton {
    display:none;
  }
  
  #form-new-post {
      margin-left: 10%;
      margin-top: 3%;
  }

  #postTitle {
    display:block;
  }

  #firstNext {
    display:block;
  } 
  
  #addPicture {
    display:none;
  } 

  .createGig {
    color: white;
  }

  #controller {
      visibility: hidden;
  }

  #lg-form {
      background: #21212a!important;
  }

  .list-group-item {
    background: #21212a!important;
    border: 1px solid rgba(225, 225, 225, 0.2)!important;
  }

  .card-block {
    min-height: 50px;
}

    #row-home {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 400;
    }

    #home-width {
        min-height:100%;
        background:linear-gradient(0deg,rgba(0,0,0, 0.7),rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/218863/pexels-photo-218863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-size:cover;
    }

    #about-us-container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #about-masthead {
        width: 100%;
        height: 50%;
        margin: 0;
        background: linear-gradient(0deg,rgba(0,0,0, 0.7),rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    #about-us-content {
        position: relative;
        height: 100%;
    }

    #privacy-policy-masthead {
        width: 100%;
        height: 30%;
        margin: 0;
        background: linear-gradient(0deg,rgba(0,0,0, 0.7),rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    #tos-masthead {
        width: 100%;
        height: 30%;
        margin: 0;
        background: linear-gradient(0deg,rgba(0,0,0, 0.7),rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    #faq-masthead {
        width: 100%;
        height: 30%;
        margin: 0;
        background: linear-gradient(0deg,rgba(0,0,0, 0.7),rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }