@import url(https://fonts.googleapis.com/css?family=Merriweather);

//Temp

.vertical-nav {
    min-width: 17em;
    width: 17em;
    height: 100%;
    /* position: absolute; */
    top: 0;
    /* bottom: 10%; */
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    /* padding-bottom: 60px; */
    display: inline-block;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17em;
    }

    #container-wrapper {
        left: 2%;
    }
}

.profile-management {
    left: 17em;
    height: 100%;
    width: calc(100% - 17em);
    display: inline-block;
}

.profile-content {
    height: 100%;
    box-sizing: border-box;
}

