<h3 align="center">Review</h3>

<%= form_with scope: :review, url: createReview_path, local: true do |form| %>
    <p align="center">
        <%= form.text_area :content, required:true, cols: "100", rows: "10"%>
    </p>

    <p align="center">
        <%= form.submit "Post Review" , class:"btn btn-primary" %>
    </p>
<% end %>