<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have a new notification:</h3>
    <p><%= @description %></p>
  </body>
</html>