<div class="wrapper">

  <%= render '/profiles/sidebar' %>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg border-bottom" id="account-heading">
      <div class="container-fluid">
      <h2 class="text-white">Register for Stripe</h2>  
      </div>
    </nav>

      <div class="container-fluid">
        <% if current_user.stripe_user_id %>
          <p>You have registered to Stripe<p>
        <% else %>
          <%= link_to 'Register to Stripe', stripe_button_link %>
        <% end %>
      </div>
  </div>
</div>
