<div class='container'>
    <h2 class='pt-5'>Your payment has been successful</h2>
    <p> Click below to retrieve your invoice </p>
    <%= link_to "Get Invoice", @receipt_url, target: :_blank, class: 'btn btn-success' %>
    
    <div class='pt-5'>
        <%= link_to "Go back to profile", profile_management_path,class: 'btn btn-success' %>
    </div>
</div>