<div class="container" >
    <h1 class="my-4  text-center">What are you looking for today?</h1>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <% options = [{title: 'Offering', description: 'Find other people offering their skills as a service.'},
                        {title: 'Seeking', description: 'Find people looking for someone to do the job.'}] %>
        <% options.each do |option| %>
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 pb-md-5 px-md-5 text-center text-white overflow-hidden btn-change">
                <div class="my-3 py-3">
                    <h2 class="display-5"><%= "#{option[:title]}" %></h2>
                    <p class="lead"><%= "#{option[:description]}" %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>