<div align="center">
    <h1> Profile Management </h1>
    <p> This page will provide all the user information</p>
    <p> He will have the option to edit his account, view his gigs</p>
</div><br>
<div style="padding-left: 50px; padding-bottom: 20px">
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %><br>
</div>
<div style="padding-left: 50px; padding-bottom: 20px">
    <%= link_to 'Manage Gigs', manage_url(current_user) %><br>
</div>
<div style="padding-left: 50px; padding-bottom: 20px">
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %><br>
</div>