<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <%= render 'layouts/navigation/dropdown', dropdown_label: 'Gigs', 
                links: [{name:'Offering', path: root_path}, {name:'Seeking', path:root_path}] %>
    <%= render collapsible_links_partial_path %>
  </ul>
</div>