<li class="nav-item">
    <%= render partial: 'layouts/navigation/collapsible_elements/nav_bar_link',
                locals: {name: 'Login', path: login_path} %>
</li>
<li class="nav-item">
    <%= render partial: 'layouts/navigation/collapsible_elements/nav_bar_link',
                locals: {name: 'Sign Up', path: signup_path} %>
</li>