<% options = [{title: 'About Us', url: about_path},
              {title: 'Offering Gigs', url: offeringAll_path},
              {title: 'Seeking Gigs', url: seekingAll_path}] %>

<% options.each do |option| %>
    <li class="nav-item text-white">
        <%= render partial: 'layouts/navigation/collapsible_elements/nav_bar_link',
                    locals: {name: option[:title] , path: option[:url]} %>
    </li>
<%end%>

<%= render 'layouts/navigation/dropdown', 
    dropdown_class: 'create-menu',
    dropdown_label: 'Create a Gig', 
    links: [{name:'Offer a Gig', path: newOfferingGig_path},
            {name:'Seek a Gig', path:newSeekingGig_path}] %>

<%= render 'layouts/navigation/dropdown', 
    dropdown_class: 'profile-menu',
    dropdown_label: current_user.name, 
    links: [{name:'Profile Setting', path: profile_management_path},
            {name:'Log Out', path:destroy_user_session_path, method: :delete}] %>