<%= render 'layouts/navigation/dropdown', 
    dropdown_class: 'pc-menu',
    dropdown_label: current_user.name, 
    links: [{name:'Edit Profile', path:edit_user_registration_path},
            {name:'Log Out', path:destroy_user_session_path, method: :delete}] %>

<li class="nav-item mobile-menu">
    <%= render 'layouts/navigation/collapsible_elements/nav_bar_link',
        nav_bar_link_class: 'mobile-menu',
        name: 'Edit Profile', path: edit_user_registration_path %>
</li>
<li class="nav-item mobile-menu">
    <%= render 'layouts/navigation/collapsible_elements/nav_bar_link',
        nav_bar_link_class: 'mobile-menu',
        name: 'Log out', path: destroy_user_session_path, method: :delete %>
</li>